.StudentResultTablests {
  margin-left: 50px;
}
.leaveCancel {
  background-color: red;
}
.leaveApprove {
  background-color: rgb(24, 146, 8);
}
.leaveRequest {
  background-color: rgb(160, 136, 0);
}
