@media (max-width:830px) {
    .leftarrange1{
        margin-left: 100px;
       
        overflow: hidden;
       
    }
    .leftarrange{
        display: grid;
        justify-content: center;
    }
}
@media (max-width:630px) {
    .leftarrange1{
        margin-left: 60px;
        
        display: grid;
        justify-content: center;
       
    }
    .leftarrange{
       overflow: hidden;
    }
}