.psBtn {
  background-color: transparent !important;
  text-decoration: underline !important;
  outline: none !important;
  border-color: transparent !important;
  background: none !important;
  color:#206a3d !important;
  border-style: none !important;
  text-transform: none !important;
}

@media (max-width: 830px) {
  .leftarrange1 {
    margin-left: 100px;

    overflow: hidden;
  }
  .leftarrange {
    display: grid;
    justify-content: center;
  }
}
@media (max-width: 630px) {
  .leftarrange1 {
    margin-left: 60px;

    display: grid;
    justify-content: center;
  }
  .leftarrange {
    overflow: hidden;
  }
  .ProfileStyle{
    margin-left:5px;
  }
}
