.Chat {
  position: relative;
  display: grid;
  grid-template-columns: 22% auto;
  gap: 1rem;
}

.Left-side-chat {
  background-color: #696969;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
}

.Chat-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--cardColor);
  border-radius: 1rem;
  padding: 1rem;
  height: auto;
  min-height: 80vh;
  overflow: scroll;
}

.Chat-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Right-side-chat {
  background-color: #696969;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
}
.conversation:hover {
  background: #80808038;
  cursor: pointer;
}

.conversation {
  border-radius: 0.5rem;
  padding: 10px;
}

.conversation > div {
  position: relative;
}

.online-dot {
  background-color: greenyellow;
  border-radius: 50%;
  position: absolute;
  left: 2rem;
  width: 1rem;
  height: 1rem;
}

.chatbox-empty-message {
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  
  
  .Right-Blocker{
    display: none !important;
  }
  .Left-Blocker{
    display: none !important;
  }
  .Right-Un-Blocker{
    display: block !important;
  }
  .Left-side-chat{
  
    width: 600%;
  }
  .name{
    display: inline !important;
  }
  .userName{
    padding-top: 50px;
  }
}
